.container {
	width: 100vw;
	min-height: 100vh;
}

.toolbar {
	position: relative;
	height: 48px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.canvasContainer {
	width: 100%;
	height: calc(100vh - 48px);
}

.githubIcon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}